.container-fluid
  .site-content
    %br
    %h2.text-center Change your password
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
      = devise_error_messages!
      = f.hidden_field :reset_password_token
      .field
        = f.label :password, 'New password'
        %br/
        - if @minimum_password_length
          %em
            (#{@minimum_password_length} characters minimum)
          %br/
        = f.password_field :password, placeholder: 'password', autofocus: true, autocomplete: 'off', class: 'devise-shared-input'
      .field
        %br/
        = f.password_field :password_confirmation, placeholder: 'password_confirmation', autocomplete: 'off', class: 'devise-shared-input'
      .actions
        = f.submit 'Change my password', class: 'btn btn-success'
      .text-center.auth-links
        = render 'devise/shared/links'